body {
    background-image: url(../img/Фон\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: Ubuntu, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4)
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-title {
    font-size: 22px;
    font-weight: 700;
    margin: 18px 0 18px 79px;
}

.header-icons {
    position: absolute;
    right: 308px;
    cursor: pointer;
}

.header-sign-link {
    color: #FFFFFF;
}

.header-log-link {
    color: #FFFFFF;
}

.header-icons-svg {
    margin: 17px 25px 17px 0;
}

.header-icons-svg:hover path {
    fill: #01813F;
}

.header-link:hover {
    color: #01813F;
}

.header-text {
    font-size: 14px;
    font-weight: 400;
    padding: 18px 79px 18px 0;
    color: #FFFFFF;
}

.header-text::before {
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-right: 27px;
    opacity: 0.5;
}

.header-text:hover::before {
    border-left: 1px solid #01813F;
}

.main {
    display: flex;
    justify-content: center;
    margin: 4% 0 5.5%;
}

.backgrond-regist-form {
    width: 444px;
    height: 614px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.52);
}

.main-title {
    display: flex;
    margin-top: 31px;
    margin-bottom: 15px;
}

.main-sign {
    margin-left: 45px;
    margin-right: 216px;
    font-size: 20px;
    font-weight: 400;
}

.main-log {
    font-size: 14px;
    font-weight: 400;
}

.main-link {
    text-decoration: none;
}

.sign-link {
    color: #434343;
}

.log-link {
    color: #3CB878;
}

.log-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.main-sign::before {
    content: '';
    position: relative;
    left: -45px;
    padding-left: 18px;
    border: 1px solid #3CB878;
    background-color: #3CB878;
}

.main-buttons {
    display: flex;
    margin-left: 63px;
    margin-bottom: 31px;
}

.btn {
    width: 160px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 4px;
    text-align: end;
    border: 1px solid;
    padding: 17px 27px 17px 30px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
}

.btn-facebook {
    background-color: #305DB8;
}

.btn-google {
    background-color: #DF4A32;
}

.fa-facebook-f {
    position: relative;
    left: -28px;
    content: '';
    padding-right: 7px;
    border-right: 1px solid rgba(57, 72, 105, 0.1);
}

.btn-facebook:hover {
    background-color: #022263;
}

.btn-google:hover {
    background-color: #AB1F09;
}

.fa-google-plus-g {
    position: relative;
    left: -32px;
    content: '';
    padding-right: 7px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
}

.main-or {
    display: flex;
    justify-content: center;
    color: #848484;
    margin-bottom: 11px;
}

.main-or:before,
.main-or:after {
    content: '';
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    position: relative;
    top: -4.5px;
}

.main-form {
    margin: 0 60px 0 60px;
}

.input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 14px 0 14px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.input:hover {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.input::-moz-placeholder {
    color: #000000;
}

.input::-webkit-input-placeholder {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #BEBEBE;
    background-color: #FFFFFF;
}

.input:focus {
    outline: none;
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

.input-checkbox {
    display: none;
}

.checkbox-text {
    font-size: 14px;
    font-weight: 400;
    color: #434343;
    cursor: pointer;
}

.checkbox-text::before {
    content: '';
    padding-left: 18px;
    padding-bottom: 4px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.input-checkbox:checked+.checkbox-text::before {
    content: '';
    background-image: url(../img/Vector\ 1.svg);
    background-size: contain;
}

.checkbox-text-colored {
    text-decoration: none;
    color: rgba(60, 184, 120, 0.8);
}

.checkbox-text:hover .checkbox-text-colored {
    text-decoration: underline;
    color: #01813F;
}

.create-account {
    display: flex;
    color: #FFFFFF;
    width: 324px;
    font-size: 16px;
    font-weight: 400;
    padding: 14px 99px;
    margin-top: 20px;
    background-color: rgba(60, 184, 120, 0.8);
    border: 1px solid rgba(60, 184, 120, 0.8);
    border-radius: 4px;
}

.create-account:hover {
    background-color: #01813F;
}