.container {
    margin: 0 auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-left: 36px;
    margin-right: 36px;
}

a {
    text-decoration: none;
    color: #FF0000;
}

h2 {
    word-spacing: 26px;
    letter-spacing: 2.7px;
    font-weight: bold;
    font-size: 18px;
}

.Represent {
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    margin: 49px 253px 38px 253px;
}

div {
    width: 1280px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #FFFFFF;
}

.paragraph1 {
    margin: 0 67.5px 28px 67.5px;
}

.paragraph2 {
    margin: 0 67.5px 0px 67.5px;
}

.paragraph1,
.paragraph2 {
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
}

button {
    color: #FFFFFF;
    letter-spacing: 1.8px;
    background-color: #FF0000;
    margin-top: 66px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin: 80px 103px 27px 713px;
    padding: 2px;
}

.change-theme-btn {
    display: flex;
    justify-content: left;
    margin-bottom: -50px;
    margin-left: 15px;
}

.active {
    margin: 0 auto;
    background: darkslategray;
}

.active a {
    color: darkorange;
}

.active p {
    color: chocolate;
}

.active button {
    background-color: darkblue;
}