.Container {
    width: 1280px;
    margin: 0 auto;
}

h1 {
    display: flex;
}

.top {
    width: 1280px;
    margin: 63px auto 48px;
}

.header {
    font-size: 80px;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 334px;
    margin: 63px 1048px 38px 98px;
    color: #000000;
}

.span {
    color: #4BCAFF;
}

.top-menu {
    width: 1280px;
    margin: 38px 99px 48px 98px;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #35444F;
}

.item-top {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: solid 1px #FFFFFF;
}

.link-top {
    display: block;
    text-decoration: none;
    padding: 26px 33px 19px 32px;
    color: #FFFFFF;
}

.link-top:hover {
    background-color: #222F3A;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 0px 99px 54px 100px;
}

.left-list {
    width: 344px;
    border: solid 1px #000000;
}

.left-item {
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left-link {
    display: block;
    text-decoration: none;
    padding-left: 44px;
    line-height: 81px;
    color: #495863;
}

.left-link:hover {
    color: #35444F;
    background-color: #DBDBDB;
    padding-left: 70px;
}

.main-part {
    width: 1280px;
    margin: 0px auto;
}

.img-fon {
    width: 885px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #000000;
    margin-left: 52px;
}

.img {
    transform: scale(1);
}

.text-lorem-ipsum {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2c2c2c;
}

.lorem-ipsum {
    margin: 35px auto;
}

.footer {
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 54px 100px 30px 100px;
}

.bottom-menu-list {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
}

.bottom-menu-item {
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom-menu-link {
    text-decoration: none;
    display: block;
    line-height: 69px;
    padding-right: 28px;
    color: #010101;
}

.bottom-menu-link:hover {
    color: #3181A6;
    border-bottom: solid 1px #3181A6;
}

.copyright {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #010101;
    padding-left: 82px;
}