.container {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-image: url(../img/background\ 1.jpg);
    background-size: cover;
    font-family: Roboto, sans-serif;
}

.header {
    width: 1028px;
    position: absolute;
    display: flex;
    margin: 51px 177px 0 161px;
}

.title-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-logo {
    display: flex;
}

.logo-img-white {
    padding-right: 8px;
    width: 53px;
    height: 47px;
}

.logo-img-colored {
    display: none;
    position: fixed;
}

.title-subtitile {
    display: flex;
}

.title {
    font-weight: 700;
    font-size: 29px;
    margin-top: -3px;
}

.subtitle {
    font-weight: 700;
    font-size: 18px;
    margin-top: 6px;
}

.header-logo:hover .logo-img-white {
    opacity: 0;
}

.header-logo:hover .logo-img-colored {
    display: block;
}

.header-logo:hover .title-subtitle {
    color: #F26522;
}

.communication {
    text-decoration: none;
    color: #FFFFFF;
}

.mail-number {
    text-align: right;
    margin-left: 654px;
}

.mail {
    font-size: 18px;
    font-weight: 400;
}

.number {
    font-size: 18px;
    font-weight: 400;
    padding-top: 19px;
}

.communication:hover .mail-number {
    color: #F26522;
}

.main {
    width: 1028px;
    position: absolute;
    margin: 124px 177px 0 161px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.main-boxes {
    position: relative;
    display: flex;
    margin-right: 61px;
    margin-bottom: 37px;
}

.main-img {
    width: 300px;
    height: 220px;
}

.img-title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.link-img {
    text-decoration: none;
    color: #FFFFFF;
}

.holiday-information {
    display: none;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    z-index: 1;
    background-color: #F26522;
    width: 100%;
    height: 55px;
}

.cost {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.from {
    font-size: 10px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.value {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-left: 16px;
}

.more-information {
    display: flex;
    margin-left: 14px;
    margin-top: 29px;
    margin-right: 14px;
}

.more-information::after {
    content: ">";
    margin-left: 16px;
}

.main-boxes:hover {
    display: block;
}

.main-boxes:hover .holiday-information {
    display: flex;
}

.main-boxes:hover .img-title {
    color: #F26522;
}

.footer {
    position: absolute;
    margin: 732px 530px 15px;
}

.footer-coopyright {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}