.header {
    width: 100%;
    margin: 0 auto;
    font-family: Open Sans, sans-serif;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #313131;
}

.logo-img {
    left: -14px;
    font-size: 27px;
    padding: 22px 21px 22px;
    background-image: url(../img/header/logo-bg.png);
}

.title {
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    left: 83px;
    color: white;
}

.header-list {
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    padding-left: 35px;
    color: #FFFFFF;
}

.seacrh-icon {
    background-image: url(../img/header/search-bg.jpg);
    padding: 27px 25px 26px;
    color: white;
}

.header-link:hover {
    color: #14B9D5;
}

.introduction {
    display: flex;
    justify-content: center;
    background-image: url(../img/header/header-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 369px;
}

.subtitle {
    position: absolute;
    font-size: 27px;
    font-weight: 700;
    top: 233px;
    color: #FFFFFF;
}

.btn-position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.button {
    display: inline-block;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    line-height: 24.5px;
    color: #FFFFFF;
}

.subscribe-btn {
    text-align: center;
    background: #89CA62;
    padding: 17px 29px;
    border: solid 1px transparent;
    border-radius: 5px;
    margin-right: 20px;
}

.best-btn {
    text-align: center;
    background: #14B9D5;
    padding: 17px 29px;
    border: solid 1px transparent;
    border-radius: 5px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    font-family: Open Sans, sans-serif;
}

.popular-posts {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 1250px;
    padding-top: 50px;
}

.main-title {
    position: absolute;
    justify-content: center;
    font-size: 27px;
    font-weight: 700;
    color: #18B4CF;
}

.posts-block {
    flex: 0 1 25%;
    font-size: 0;
    padding-left: 30px;
}

.posts-block:nth-child(4n+1) {
    margin-top: -130px;
}

.posts-block:nth-child(5n+1) {
    margin-top: -32px;
}

.posts-block:nth-child(6n+1) {
    margin-top: -110px;
}

.posts-block .popylar-posts-name {
    text-align: center;
}

.posts-image {
    width: 100%;
    margin: 52px auto 0;
}

.popylar-posts-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 70px;
    background-color: #FFFFFF;
}

.clients {
    position: absolute;
    display: flex;
    justify-content: center;
    background-image: url(../img/main/parallax-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 588px;
    margin-top: 860px;
}

.clients-title {
    position: absolute;
    margin-top: 106px;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
}

.line {
    position: absolute;
    margin-top: 240px;
    width: 60px;
    border-bottom: solid 3px #18B4CF;
}

.popular-clients {
    margin-top: 445px;
    margin-bottom: 107px;
}

.popular-clients-img {
    display: grid;
    grid-template-columns: 4;
    justify-content: center;
    align-items: center;
    margin-left: 58px;
}

.popular-clients-link {
    display: inline-block;
}

.top-rated {
    position: absolute;
    margin-top: 1500px;
}

.top-rated-title {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #14B9D5;
    margin: 0px auto 52px;
}

.top-rated-image {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.top-rated-img {
    width: 100%;
}

.hot-news {
    position: absolute;
    margin-top: 1760px;
    font-family: Open Sans, sans-serif;
}

.hot-news-title {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #14B9D5;
    margin: 0px auto 52px;
}

.hot-news {
    text-align: center;
}

.hot-news-section {
    width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, fr1);
    margin: 0 auto 78px;
    gap: 40px;
}

.hot-news-content {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    background-color: #F9F7F7;
}

.hot-mews-text {
    text-align: end;
}

.img-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
}

.article-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    padding-left: 13px;
    color: #5B6469;
}

.text-right {
    padding: 41px 0 41px;
}

.text-bottom {
    padding: 14px 14px 3px;
}

.simple-title {
    padding: 14px;
}

.content-1 {
    grid-column: 1 / 4;
}

.content-3,
.content-5 {
    grid-column: span 2;
}

.content-4,
.content-6 {
    grid-column: span 2;
}

.content-8 {
    grid-column: 2 / 5;
}

.post-1-img,
.post-8-img {
    float: left;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/footer/footer-bg.jpg);
    width: 100%;
    height: 80px;
    margin-top: 2620px;
}

.footer-copyright {
    position: absolute;
    color: #FFFFFF;
    left: 367px;
}

.footer-lioit-logo {
    margin-right: 360px;
}

.lioit-logo {
    position: absolute;
    right: 430px;
}