body {
    background: rgb(20, 20, 20);
    overflow: hidden;
    font-family: Roboto, sans-serif;
    position: relative;
}

.star-wars {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    perspective: 1000px;
}

.star-wars-screensaver {
    font-size: 6vw;
    position: relative;
    text-align: justify;
    color: #FFC909;
    animation: star-wars-animation 30s linear infinite;
    transform: translateZ(-1000px) rotateX(60deg);
}

.episode,
.episode-name {
    text-align: center;
    font-weight: 700;
}

.text {
    font-weight: 400;
}

@keyframes star-wars-animation {
    from {
        top: 0;
        transform: translateZ(0) rotateX(20deg);
    }
    to {
        top: -5000px;
        transform: translateZ(-2000px) rotateX(21deg);
    }
}